################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__/Calendar.cpython-36.pyc
/__pycache__/ARIMA.cpython-36.pyc
/__pycache__
/Output
/Data
/.vs/M5_Forecasting/v15
